.element__name {
    margin: 25px auto 25px;
    max-width: 215px;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 21px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}