.element__like {
    background-image: url(../../../images/like.svg);
    
    border-style: none;
    background-color: white;
    height: 19px;
    width: 22px;
    background-repeat: no-repeat;
    margin-right: 20px;

}



.element__like:hover {
    opacity: .5;
    cursor: pointer;
}