.profile__edit-button {
    grid-area: c;
    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid #FFFFFF;
    background-image: url(../../../images/pensel.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    display: flex;
    align-self: flex-end;
    margin-bottom: 8px;

}

@media (max-width: 685px) {
    .profile__edit-button {
        margin-bottom: 4px;
        width: 18px;
        height: 18px;
    }

}



.profile__edit-button:hover {
    opacity: .6;
    cursor: pointer;
}