.popup__form-input {
    border-style: none;
    border-bottom: 1px solid black;
    
    display: block;
    width: 358px;
    margin: 0 auto 37px;


}

@media (max-width:550px) {
    .popup__form-input {
        width: 238px;
    }

}

.popup__form-input:last-of-type {
    margin-bottom: 48px;
}