.popup__container {
    width: 430px;
    height: 330px;
    background-color: #FFFFFF;
    position: fixed;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    margin-top: -165px;
    margin-left: -215px;
}

@media (max-width:550px) {
    .popup__container {
        width: 282px;
        height: 322px;
        top: 50%;
        left: 50%;
        margin-top: -161px;
        margin-left: -141px;
    }
}