.popup__form-close {
   margin-bottom: 370px;
    
    background-image: url(../../../images/Close-icon.svg);
    background-size: cover;
    width: 32px;
    height: 32px;
    border-style: none;
    background-color: rgba(42, 44, 47, .1);
    padding: 0;

}

@media (max-width:550px) {
    .popup__form-close {
        width: 20px;
        height: 20px;
        
    }
}

.popup__form-close:hover {
    opacity: .6;
    cursor: pointer;
}