.profile__add-button {
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    background-image: url(../../../images/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    padding: 0;
   
   
}

@media (max-width: 580px) {
    .profile__add-button {
        width: 280px;
        display: block;
        margin: 31px auto 36px;
        background-image: url(../../../images/plus320px.svg);
    }
}

.profile__add-button:hover {
    opacity: .6;
    cursor: pointer;
}